name: main

on:
  push:
    branches:
      - master
    paths-ignore:
      - "**.md"
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:
    inputs:
      skip-version-check:
        type: boolean
        description: Skip version check
        required: false

jobs:
  # Check if the latest version of FFmpeg in vcpkg is newer than the latest release
  version:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout vcpkg
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # 6.0.0
        with:
          repository: microsoft/vcpkg
          ref: master

      - name: Get latest FFmpeg package
        id: latest-ffmpeg
        run: echo "version=$(cat ports/ffmpeg/vcpkg.json | jq -r '.version')" >> $GITHUB_OUTPUT

      - name: Get latest release
        id: latest-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: echo "version=$(gh release view --json tagName --jq .tagName --repo ${{ github.event.repository.full_name }})" >> $GITHUB_OUTPUT

    outputs:
      version: ${{ steps.latest-ffmpeg.outputs.version }}
      stale: ${{ inputs.skip-version-check || steps.latest-ffmpeg.outputs.version != steps.latest-release.outputs.version }}

  # Build FFmpeg for all supported platforms
  pack:
    needs: version

    # Job outputs are passed as strings, so we need to convert the value to an actual boolean
    if: ${{ fromJson(needs.version.outputs.stale) }}

    strategy:
      fail-fast: false
      matrix:
        target-os:
          - windows
          - linux
          - osx
          - android
        target-arch:
          - arm
          - arm64
          - x86
          - x64
        include:
          # Determine the runner OS based on the target OS
          - target-os: windows
            os: windows-latest
          - target-os: linux
            os: ubuntu-latest
          - target-os: osx
            os: macos-latest
          - target-os: android
            os: ubuntu-latest
        exclude:
          # Windows arm is obsolete
          - target-os: windows
            target-arch: arm
          # Linux arm is obsolete
          - target-os: linux
            target-arch: arm
          # macOS arm does not exist
          - target-os: osx
            target-arch: arm
          # macOS x86 is obsolete
          - target-os: osx
            target-arch: x86

    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
      actions: write

    steps:
      - name: Checkout self
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # 6.0.0
        with:
          path: self/

      - name: Checkout vcpkg
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # 6.0.0
        with:
          repository: microsoft/vcpkg
          ref: master
          path: vcpkg/

      - name: Bootstrap vcpkg
        run: ${{ runner.os == 'Windows' && 'vcpkg/bootstrap-vcpkg.bat' || 'vcpkg/bootstrap-vcpkg.sh' }}

      - name: Install dependencies
        run: ${{ runner.os == 'Windows' && 'self/install-deps.ps1' || 'self/install-deps.sh' }}

      - name: Build FFmpeg
        run: >
          vcpkg/vcpkg install
          --recurse
          --triplet ${{ matrix.target-arch }}-${{ matrix.target-os }}
          --x-manifest-root self/

      - name: Upload build logs
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # 5.0.0
        # Disabled: sometimes globbing fails on some of the produced directories
        if: ${{ false }} # ${{ !cancelled() }}
        with:
          name: logs-${{ matrix.target-os }}-${{ matrix.target-arch }}
          path: vcpkg/buildtrees/**/*.log
          if-no-files-found: ignore

      - name: Upload build output
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # 5.0.0
        with:
          name: ffmpeg-${{ matrix.target-os }}-${{ matrix.target-arch }}
          path: self/vcpkg_installed/${{ matrix.target-arch }}-${{ matrix.target-os }}/tools/ffmpeg/
          if-no-files-found: error

  # Create a new release with the tag matching the FFmpeg version
  release:
    needs:
      - version
      - pack

    # Only release when running on master
    if: ${{ github.ref_type == 'branch' && github.ref_name == 'master' }}

    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
          gh release create ${{ needs.version.outputs.version }}
          --title ${{ needs.version.outputs.version }}
          --notes "Built on $(date +'%Y-%m-%d')"
          --repo ${{ github.event.repository.full_name }}

  # Upload the built artifacts to the release
  deploy:
    needs:
      - version
      - release

    strategy:
      matrix:
        target-os:
          - windows
          - linux
          - osx
          - android
        target-arch:
          - arm
          - arm64
          - x86
          - x64
        exclude:
          # Windows arm is obsolete
          - target-os: windows
            target-arch: arm
          # Linux arm is obsolete
          - target-os: linux
            target-arch: arm
          # macOS arm does not exist
          - target-os: osx
            target-arch: arm
          # macOS x86 is obsolete
          - target-os: osx
            target-arch: x86

    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write

    steps:
      - name: Download build output
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # 6.0.0
        with:
          name: ffmpeg-${{ matrix.target-os }}-${{ matrix.target-arch }}
          path: ffmpeg/

      - name: Set permissions
        if: ${{ matrix.target-os != 'windows' }}
        run: |
          chmod +x ffmpeg/ffmpeg
          [ -f ffmpeg/ffplay ] && chmod +x ffmpeg/ffplay || true
          [ -f ffmpeg/ffprobe ] && chmod +x ffmpeg/ffprobe || true

      - name: Create package
        # Change into the artifacts directory to avoid including the directory itself in the zip archive
        working-directory: ffmpeg/
        run: zip -r ../ffmpeg-${{ matrix.target-os }}-${{ matrix.target-arch }}.zip .

      - name: Upload release assets
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
          gh release upload ${{ needs.version.outputs.version }}
          ffmpeg-${{ matrix.target-os }}-${{ matrix.target-arch }}.zip
          --repo ${{ github.event.repository.full_name }}

  notify:
    needs: deploy
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Notify Discord
        uses: tyrrrz/action-http-request@1dd7ad841a34b9299f3741f7c7399f9feefdfb08 # 1.1.3
        with:
          url: ${{ secrets.DISCORD_WEBHOOK }}
          method: POST
          headers: |
            Content-Type: application/json; charset=UTF-8
          body: |
            {
              "content": "[**${{ github.event.repository.name }}**](<${{ github.event.repository.html_url }}>) v${{ github.ref_name }} has been released!"
            }
          retry-count: 5
